
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: rgb(216, 163, 55);
    font-size: 21px;
}
.menu-item {
    display: block;
    color: rgb(248, 246, 244);
    text-decoration: none;
}
.menu-item:hover {
    color: rgb(8, 0, 255);
    background-color: rgb(253, 252, 250);
}
.main-section {
    background-color: rgb(255, 255, 0);
    max-width: 70%;
    width: fit-content;
    padding: 60px;
    margin: 30px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0 0 10px 1px;
}
.main-section img {
    width: 100%;
}
